<!DOCTYPE html>
<html>
<head>
<title>Amplify Jobs</title>
</head>
<body>
<h1>Amplify Jobs</h1>
<table>
<tr>
<th>ID</th>
</tr>
{{ range .Data }}
<tr>
<td><a href="{{ .Links.self }}">{{ .Id }}<a></td>
</tr>
{{ end }}
</table>
<h2>Links</h2>
<ul>
{{ range $key, $value := .Links.AdditionalProperties }}
   <li><a href="{{ $value }}">{{ $key }}</a></li>
{{ end }}
<li><a href="{{ .Links.First }}">First</a></li>
<li><a href="{{ .Links.Prev }}">Previous</a></li>
<li><a href="{{ .Links.Next }}">Next</a></li>
<li><a href="{{ .Links.Last }}">Last</a></li>
</ul>
</body>
</html>