<!DOCTYPE html>
<html>
<head>
<title>Amplify Queue</title>
</head>
<body>
<h1>Amplify Queue</h1>
<table>
<tr>
<th>ID</th>
<th>Submitted</th>
<th>Started</th>
<th>Ended</th>
<th>Status</th>
</tr>
{{ range .Data }}
<tr>
<td><a href="{{ .Links.self }}">{{ .Id }}<a></td>
{{- with .Meta -}}
<td>{{ .Submitted }}</td>
<td>{{ with .Started }}{{ . }}{{ end }}</td>
<td>{{ with .Ended }}{{ . }}{{ end }}</td>
<td>{{ with .Status }}{{ . }}{{ end }}</td>
{{- end -}}
</tr>
{{ end }}
</table>
<h2>Submit Execution Request</h2>
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
<form target="dummyframe" action="/api/v0/queue" method="POST">
<label for="name">CID</label>
<input type="text" name="cid" id="cid" />
<button id="submitBtn" type="submit">Submit</button>
   <script>
   document.getElementById("submitBtn").addEventListener("click", myFunction);  
   function myFunction() {
   setTimeout(function(){ 
      window.location.href="/api/v0/queue";  
    }, 200);  
   }
   </script>
</form>
<h2>Links</h2>
<ul>
{{ range $key, $value := .Links.AdditionalProperties }}
   <li><a href="{{ $value }}">{{ $key }}</a></li>
{{ end }}
<li><a href="{{ .Links.First }}">First</a></li>
<li><a href="{{ .Links.Prev }}">Previous</a></li>
<li><a href="{{ .Links.Next }}">Next</a></li>
<li><a href="{{ .Links.Last }}">Last</a></li>
</ul>
</body>
</html>