<!DOCTYPE html>
<html>
<head>
<title>Amplify Queue</title>
</head>
<body>
<h1>Amplify Queue</h1>
<table>
<tr>
<th>ID</th>
<th>Submitted</th>
<th>Started</th>
<th>Ended</th>
<th>Status</th>
</tr>
{{ range .Data }}
<tr>
<td><a href="{{ .Links.self }}">{{ .Id }}<a></td>
{{- with .Metadata -}}
<td>{{ .Submitted }}</td>
<td>{{ with .Started }}{{ . }}{{ end }}</td>
<td>{{ with .Ended }}{{ . }}{{ end }}</td>
<td>{{ with .Status }}{{ . }}{{ end }}</td>
{{- end -}}
</tr>
{{ end }}
</table>
<h2>Links</h2>
<ul>
{{ range $key, $value := .Links }}
   <li><a href="{{ $value }}">{{ $key }}</a></li>
{{ end }}
</ul>
</body>
</html>