{{ define "id" }}
<tr>
<td><b>ID</b></td>
<td>{{ .Id }}</td>
</tr>
{{ end }}
{{ define "metadata" }}
<tr>
<td><b>Metadata</b></td>
<td>
<ul>
<li>Status: {{ .Meta.Status }}</li>
<li>Submitted: {{ .Meta.Submitted }}</li>
<li>Started: {{ .Meta.Started }}</li>
<li>Ended: {{ .Meta.Ended }}</li>
</ul>
</td>
</tr>
{{ end }}
{{ define "result" }}
   <tr>
   <td><b>Result</b></td>
   <td>
      <ul>
      {{ with .Attributes.Result }}
         <li>Execution ID: {{ .Id }}</li>
         <li>StdOut: {{ .Stdout }}</li>
         <li>StdErr: {{ .Stderr }}</li>
         <li>Skipped: {{ .Skipped }}</li>
      {{ end }}
      </ul>
   </td>
   </tr>
{{ end }}

{{ define "dag" }}
   <li>
      <table>
         {{ template "id" . }}
         {{ template "metadata" . }}
         {{ template "result" . }}

         {{ with .Attributes }}
         <tr>
         <td><b>Inputs</b></td>
         <td>
            <ul>
            {{ range .Inputs }}
               <li>{{ .Cid }}</li>
            {{ end }}
            </ul>
         </td>
         </tr>
         <tr>
         <td><b>Outputs</b></td>
         <td>
            <ul>
            {{ range .Outputs }}
               <li>{{ .Cid }}</li>
            {{ end }}
            </ul>
         </td>
         </tr>
      </table>
      {{ with .Children }}
         <ul>
            {{ range . }}
            {{ template "dag" . }}
            {{ end }}
         </ul>
      {{ end }}
      {{ end }}
   </li>
{{ end }}

{{ with .Data }}
<!DOCTYPE html>
<html>
<head>
<title>Queue Item {{ .Id }}</title>
</head>
<body>
<h1>{{ with .Links.list }}<a href="{{.}}">Queue</a> > {{ end }}{{ .Id }}</h1>
<table>
{{ template "id" . }}
{{ template "metadata" . }}
{{ with .Attributes }}
<tr>
<td><b>Inputs</b></td>
<td>{{ range $i, $v := .Inputs }}{{ if gt $i 0 }}, {{ end }}{{ $v.Cid }}{{ end }}</td>
</tr>
<tr>
<td><b>Outputs</b></td>
<td>{{ range $i, $v := .Outputs }}{{ if gt $i 0 }}, {{ end }}{{ $v.Cid }}{{ end }}</td>
</tr>
{{ end }}
</table>

<h2>DAGs</h2>
{{ with .Attributes }}
{{ range .Graph }}
   <ul>{{ template "dag" . }}</ul>
{{ end }}
{{ end }}

<h2>Links</h2>
<ul>
{{ range $key, $value := .Links }}
   <li><a href="{{ $value }}">{{ $key }}</a></li>
{{ end }}
</ul>
</body>
</html>
{{ end }}