<!DOCTYPE html>
<html>
<head>
<title>Amplify Workflow</title>
</head>
<body>
<h1>Amplify Workflow</h1>
<table>
<tr>
<th>ID</th>
</tr>
{{ range .Data }}
<tr>
<td><a href="{{ .Links.self }}">{{ .Id }}<a></td>
</tr>
{{ end }}
</table>
<h2>Links</h2>
<ul>
{{ range $key, $value := .Links }}
   <li><a href="{{ $value }}">{{ $key }}</a></li>
{{ end }}
</ul>
</body>
</html>